@page
@model RestaurantReviews.Pages.AddReviewModel
@{
    ViewData["Title"] = "Add review";
    Layout = "_Layout";
}

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}

<h6 class="form_headline">Your review helps people find the best places</h6>

<div class="add_review_form_container">
    <form class="form">
        <div class="field_container">
            <div class="field_headline">Restaurant name:</div>
            <div class="input-container">

                <i class="fa-solid fa-utensils"></i>

                <select class="input-field">
                    
                    @{
                        foreach (var restaurant in Model.restaurants)
                        {
                            <option value="restaurantName">@restaurant.Name</option>
                        }

                    }
                </select>
            </div>
        </div>
        <div class="field_container">
            <div class="field_headline">Food score:</div>
            <div class="input-container">
                <i class="fa-solid fa-burger"></i>
                <select class="input-field">
                    <option value="select">Select score</option>
                    @{
                        for (int i = 1; i <= 10; i++)
                        {
                            <option value="score">@i</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="field_container">
            <div class="field_headline">Service score:</div>
            <div class="input-container">
                <i class="fa-solid fa-bell-concierge"></i>

                <select class="input-field">
                    <option value="select">Select score</option>
                    @{
                        for (int i = 1; i <= 10; i++)
                        {
                            <option value="score">@i</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="field_container">
            <div class="field_headline">Price range:</div>
            <div class="input-container">
                <i class="fa-solid fa-coins"></i>

                <select class="input-field">
                    <option value="select">Select score</option>
                    @{
                        for (int i = 1; i <= 10; i++)
                        {
                            <option value="score">@i</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="field_container">
            <div class="field_headline">Comment:</div>
            <div class="input-container">
                <i class="fa-solid fa-comment-dots"></i>

                <textarea class="input-field" rows="5" placeholder="Write your comment here..."></textarea>

            </div>
        </div>
        <button type="submit" class="btn">Submit</button>

    </form>
</div>