@page
@model RestaurantReviews.Pages.Landing_pageModel
@{
    ViewData["Title"] = "Log in";
    Layout = "_Layout1";
}

<body>
    <div class="page-wrapper">
        <img src="pic/Wave_Painting_Logo_Template__1_-removebg-preview.png" alt="logo" class="logo">

        <section class="flex-container">
            <div class="header-content">
                <h1>My spot</h1>
                <h2>Restaurant reviews</h2>
                <p>
                    We are a digital agency that helps brands to achieve their
                    business outcomes. We see technology as a tool to create amazing
                    things.
                </p>
                <div class="button">
                    <a href="" class="login-button">Login</a>
                    <a href="" class="register-button">Register</a>
                </div>
            </div>

            <div class="header-image">
                <img src="pic/Restaurant-Zuiver-Amersfoort-16.jpg" alt="pic">
            </div>

        </section>
    </div>
</body>
