@page
@model RestaurantReviews.Pages.MyprofileModel
@{
    ViewData["Title"] = "My profile";
    Layout = "_Layout";
}
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}

<div class="form_container">
    <form method="post">
        <div class="container">
            <h2 class="login_heading">Edit Profile</h2>
            <label asp-for="EditedUser.Email">E-mail:</label>
            <span asp-validation-for="EditedUser.Email"></span>
            <input type="text" asp-for="EditedUser.Email" required value="@Model.loggedUser.Email">

            <label asp-for="EditedUser.Password">Password:</label>
            <span asp-validation-for="EditedUser.Password"></span>
            <input type="password" asp-for="EditedUser.Password" required value="@Model.loggedUser.Password">

            <label asp-for="EditedUser.FirstName">First Name:</label>
            <span asp-validation-for="EditedUser.FirstName"></span>
            <input type="text" asp-for="EditedUser.FirstName" required value="@Model.loggedUser.FirstName">

            <label asp-for="EditedUser.LastName">Last Name:</label>
            <span asp-validation-for="EditedUser.LastName"></span>
            <input type="text" asp-for="EditedUser.LastName" required value="@Model.loggedUser.LastName">
        </div>
        <div class="edit_profile_buttons">
            <input type="submit" value="Save" class="loginbtn">
          
        </div>
    </form>
</div>
