<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My spot</title>

    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="icon" href="~/pic/Wave_Painting_Logo_Template__1_-removebg-preview.png">
</head>
<body>
    <div class="page-wrapper">
        <a asp-page="/Landing_page">
            <img src="pic/Wave_Painting_Logo_Template__1_-removebg-preview.png" alt="logo" class="logo">
        </a>
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
